@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


html, body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
button{
    margin: 0.2rem;
    padding: 0.5rem;
    color: rgb(59 130 246);
    border-style: none;
    border: 2px solid rgb(59 130 246);
    border-radius: 1rem;
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
}
button:hover{
    color: white;
    background-color: rgb(59 130 246);
    border: 3px solid white;
    box-shadow: 2px 2px 3px black;
}
#dark-btn{
    border: none;
    float: right;
    background-color: rgb(62, 62, 62);
    padding: 0.4rem;
    font-weight:300;
    font-size: 0.7rem;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
#light-btn{
    border: none;
    float: right;
    background-color: white;
    padding: 0.4rem;
    font-weight:300;
    font-size: 0.7rem;
    color: black;
    display: none;
    font-family: 'Josefin Sans', sans-serif;
}
#locate:hover{
    background-color: #ffdbac ;
}
input{
    margin: 0.2rem;
    padding: 0.5rem;
}

nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
#header{
    text-align: center;
    padding: 0.7rem;
    font-weight: 900;
    padding-top: 2rem;
    font-size: 2.5rem;
    background-color: #c68642;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
#top{
    display: flex;
    justify-content: space-between;
    background-color: #c68642;
    padding: 0.5rem;
}
nav{
    box-shadow: 0px 0.3px 5px 0.5px black;
}
.top-left{
    display: inline;
}
.top-right{
    float: right;
    display: inline;
}
#content{
    background-color: 	#ffdbac;
}

@media(max-width:600px){
    .top-left{
        display: flex;
        flex-direction: column;
    }
    .top-right{
        display: flex;
        flex-direction: column;
    }
    button{
        padding: 0.25rem;
    }
    input{
        padding: 0.25rem;
    }
}

/* ANUJ */

.map{
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 10rem 0;
}

@media(max-width:600px){
    .map{
        padding: 7rem 0;
    }
}

@media(max-width:500px){
    .map{
        padding: 5rem 0;
    }
    #dark-btn, #light-btn{
        display: none;
    }
    button{
        padding: 0.3rem;
    }
}

.map div{
    height: fit-content;
    width: fit-content;
}

.group{
    transform:rotate(90deg);
}

.initialPath{
    transform-box:fill-box;
    transform-origin:center;
    opacity:0;
    transition: opacity 1.5s;
}