
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
button{
    margin: 0.2rem;
    padding: 0.5rem;
    color: rgb(59 130 246);
    border-style: none;
    border: 2px solid rgb(59 130 246);
    border-radius: 1rem;
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
}
button:hover{
    color: white;
    background-color: rgb(59 130 246);
    border: 3px solid white;
    box-shadow: 2px 2px 3px black;
}
#dark-btn{
    border: none;
    float: right;
    background-color: rgb(62, 62, 62);
    padding: 0.4rem;
    font-weight:300;
    font-size: 0.7rem;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
#dark-btn:hover{
    background-color: rgb(80, 80, 80);
}
#light-btn{
    border: none;
    float: right;
    background-color: white;
    padding: 0.4rem;
    font-weight:300;
    font-size: 0.7rem;
    color: black;
    display: none;
    font-family: 'Josefin Sans', sans-serif;
}
#light-btn{
    border: 2px solid black;
}
#locate:hover{
    background-color: #ffdbac ;
}
input{
    margin: 0.2rem;
    padding: 0.5rem;
}
nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
#header{
    text-align: center;
    padding: 0.7rem;
    font-weight: 900;
    padding-top: 2rem;
    font-size: 2.5rem;
    background-color: #c68642;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
#top{
    display: flex;
    justify-content: space-between;
    background-color: #c68642;
    padding: 0.5rem;
}
nav{
    box-shadow: 0px 0.3px 5px 0.5px black;
}
#locate:hover{
    background-color:blue;
    border: 3px solid grey;
}
.top-left{
    display: inline;
}
.top-right{
    float: right;
    display: inline;
}
#content{
    background-color: 	#ffdbac;
}

.info-btn{
    color: #c68642;
    border: 3px solid #c68642;
}
.info-btn:hover{
    color: #ffdbac;
    border: 3px solid #ffdbac;
    background-color: #c68642;
}

@media(max-width:600px){
    .top-left{
        display: flex;
        flex-wrap: wrap;
    }
    .top-right{
        display: flex;
        flex-direction: column;
    }
    button{
        padding: 0.25rem;
    }
    input{
        padding: 0.25rem;
    }
}

.image{
    display: flex;
    justify-content: center;
    padding-top: 10rem ;
    padding-bottom: 10rem;
}
@media(max-width:750px){
    .image{
        height: 50vh;
        padding-bottom: 15rem;
    }
}
@media(max-width:600px){
    .image{
        padding-top: 15rem;
        padding-bottom: 25rem;
        height: 40vh;
    }
    #dark-btn, #light-btn{
        display: none;
    }
}
@media(max-width:500px){
    .image{
        padding-top: 20rem;
        padding-bottom: 25rem;
        height: 35vh;
    }
}
@media(max-width:400px){
    .image{
        padding-top: 20rem;
        padding-bottom: 25rem;
        height: 25vh;
    }
}

.row {
    display: flex;
    flex-direction: row;
    padding: 10rem 2rem;
  }
  
  .col {
    padding: 1rem;
    color: rgb(37, 37, 37);
  }

.col p{
    font-size: 2rem;
    font-weight: 550;
    color: rgb(22, 22, 22);
    padding-top: 3rem;
}

.col ol li{
    line-height: 1.5rem;
    padding: 0.5rem 0;
    color: rgb(76, 76, 76);
    font-family: 'Nunito Sans', sans-serif;
}

@media(max-width:1000px){
    .row{
        flex-direction: column;
        padding: 10rem 2rem;
    }
    .col{
        padding: 0.5rem 2rem;
    }
    .row img{
        width: 100%;
    }
    .col p{
        padding-top: 0;
    }
}

@media(max-width:500px){
    .row{
        padding: 12rem 0rem;
    }
    .col p{
        padding-top: 0;
    }
    button{
        padding: 0.5rem;
    }
}